<% include ../partials/header %>

 <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 text-center">
            <h1 style="text-align: center;">Register</h1>
            <form id="newUser" action="/api/u" method="POST">                 
                <div class="thumbnail">
                <p>Create a Custom Profile</p>
                    <div class="form-group">
                        <label class="pull-left" for="username">Username</label>
                            <!--Eventually validate that this is a unique field-->
                        <input class="form-control" type="text" name="user[username]" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="phone">Phone</label>
                        <input class="form-control bfh-phone" type="tel" name="user[phone]" data-format="+1 (ddd) ddd-dddd" placeholder="phone" required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="city">City</label>
                        <input class="form-control" type="text" name="user[city]" placeholder="city" required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="state">State</label>
                        <input class="form-control" type="text" name="user[state]" placeholder="state" required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="avatar">Avatar/Bitmoji</label>
                        <input class="form-control" type="text" name="user[avatar]" value=<%= user.photos[0].value %> required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="facebookURL">Facebook Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[facebookURL]" placeholder="facebook url" >
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="instagramURL">Instagram Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[instagramURL]" placeholder="instagram url" >
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="twitterURL">Twitter Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[twitterURL]" placeholder="twitter url" >
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="githubURL">Github Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[githubURL]" placeholder="github url" >
                    </div>
                </div>             
                <div class="thumbnail">
                <p>Imported from LinkedIn</p>
                    <div class="form-group">
                        <label class="pull-left" for="username">LinkedIn Username</label>
                        <% var url = user._json.publicProfileUrl %>
                        <input class="form-control" type="text" name="user[linkedinUsername]" value=<%= url.substring(url.indexOf('in/')+3)  %> required readonly>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="firstName">First Name</label>
                        <input class="form-control" type="text" name="user[linkedinFirstName]" value=<%= user.name.givenName %> required readonly>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="lastName">Last Name</label>
                        <input class="form-control" type="text" name="user[linkedinLastName]" value=<%= user.name.familyName %> required readonly>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="email">Email</label>
                        <input class="form-control" type="text" name="user[linkedinEmail]" value=<%= user._json.emailAddress %> required readonly>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>
<% include ../partials/footer %>