<% include ../partials/header %>

    <div id="global" data-userId="<%= user._id %>" class="row">
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 text-center">
            <h1 style="text-align: center;">Update Info</h1>
            
            <form id="editUser" action="/api/u/<%= user._id %>?_method=PUT" method="POST">              
                <div class="thumbnail">
                <p>Edit Your Profile</p>
                    <div class="form-group">
                        <label class="pull-left" for="username">Username</label>
                            <!--Eventually validate that this is a unique field-->
                        <input class="form-control" type="text" name="user[username]" value=<%= user.username %> required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="phone">Phone</label>
                        <input class="form-control bfh-phone" type="tel" name="user[phone]" data-format="+1 (ddd) ddd-dddd" value=<%= user.phone  %> required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="city">City</label>
                        <input class="form-control" type="text" name="user[city]" value=<%= user.city  %> required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="state">State</label>
                        <input class="form-control" type="text" name="user[state]" value=<%= user.state  %> required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="avatar">Avatar/Bitmoji</label>
                        <input class="form-control" type="text" name="user[avatar]" value=<%= user.avatar %> required>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="facebookURL">Facebook Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[facebookURL]" value=<%= user.facebookURL  %> >
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="instagramURL">Instagram Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[instagramURL]" value=<%= user.instagramURL  %> >
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="twitterURL">Twitter Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[twitterURL]" value=<%= user.twitterURL  %> >
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="githubURL">Github Profile URL<em> (optional)</em></label>
                        <input class="form-control" type="text" name="user[githubURL]" value=<%= user.githubURL  %> >
                    </div>
                </div>            
                <div class="thumbnail">
                <p>User Defaults</p>
                    <div class="form-group">
                        <label class="pull-left" for="resume">Resume</label>
                        <select id="resume-defaults-dd" class="form-control resumes" name="defaults[resume]">
                            <!--AJAX call in js/user/user-edit.js to load this dd-->
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="coverLetter">Cover Letter</label>
                        <select id="cover-letter-defaults-dd" class="form-control cover-letters" name="defaults[coverLetter]" >
                            <!--AJAX call in js/user/user-edit.js to load this dd-->
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="printTheme">Print Version Theme</label>
                        <select id="print-theme-defaults-dd" class="form-control" name="defaults[printTheme]">
                            <!--hard coding until I can figure out how to parse the /public/stylesheets/printStyles folder-->
                            <option>traditional</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="printFontSize">Print Text Size</label>
                        <input class="form-control" type="number" name="defaults[printFontSize]" value= "<%= user.defaults.printFontSize ? user.defaults.printFontSize : 14 %>" >
                    </div>
                </div> 
                <div class="thumbnail">
                <p>Imported from LinkedIn</p>
                    <div class="form-group">
                        <label class="pull-left" for="username">LinkedIn Username</label>
                        <input class="form-control" type="text" name="user[linkedinUsername]" value= "<%= user.linkedinUsername  %>" readonly>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="firstName">First Name</label>
                        <input class="form-control" type="text" name="user[linkedinFirstName]" value= "<%= user.linkedinFirstName  %>" readonly>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="lastName">Last Name</label>
                        <input class="form-control" type="text" name="user[linkedinLastName]" value= "<%= user.linkedinLastName %>" readonly>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="email">Email</label>
                        <input class="form-control" type="text" name="user[linkedinEmail]" value= "<%= user.linkedinEmail %>" readonly>
                    </div>
                </div>     
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
        </div>
    </div>
    
  
    <!-- jQuery CDN -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
  
    <!--Custom JavaScript-->
    <script type="text/javascript" src="/js/user/user-edit.js"></script>
    
<% include ../partials/footer %>