<!DOCTYPE html>
<html style="font-size: <%= user.defaults.printFontSize ? user.defaults.printFontSize : 14 %>pt">
    <head>
        <title><%= resume.alias %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Updating to use version 5 of FA - 6/9/18-->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!--Custom CSS-->
        <% if((user.defaults.printTheme) && user.defaults.printTheme != '') { %>
            <link rel="stylesheet" type="text/css" href="/stylesheets/printStyles/<%= user.defaults.printTheme %>.css">
        <% } else { %>
            <link rel="stylesheet" type="text/css" href="/stylesheets/printStyles/traditional.css">
        <% } %>
    </head>
    <body>
        <!--Header Section-->
        <header>
            <div class="name"><%= user.linkedinFirstName + " " + user.linkedinLastName %></div>
            <div class="contact">
                <span><%- user.city + ", " + user.state %></span>
                <br>
                <span>
                    <!--<i class="fas fa-envelope"></i>-->
                    <a href="mailto:<%- user.linkedinEmail %>"> <%- user.linkedinEmail %></a>
                    <!--<i class="fas fa-phone"></i>-->
                </span>
                <span><%- ' | ' + user.phone %></span>
            </div>
        </header>
        <hr>
        
        <!--Main Section-->
        <main>
		    <% if(resume.objective) { %>
                <section class="objective">
                    <!--Loop through the work experience array-->
                    <h3>Objective</h3>
                    <hr>
                    <p>
                        <%- resume.objective %>
                    </p>
                </section>
		    <% } %>
            
		    <% if(resume.careerSummary) { %>
                <section class="careerSummary">
                    <h3>Career Summary</h3>
                    <hr>
                    <p>
                        <%- resume.careerSummary %>
                    </p>
                </section>
		    <% } %>
            
		    <% if(resume.experience && (!resume.experience.hideOnPrint)) { %>
                <section style='order: <%= resume.experience.order %>;'>
                    <div class="section-header">
                        <h3><%= resume.experience.sectionTitle ? resume.experience.sectionTitle : "Work Experience"%></h3>
                        <hr>
                    </div>
                    <!--Loop through the work experience array-->
                    <% resume.experience.details.forEach(function(workExp) { %>
                        <% if(!workExp.hideOnPrint) { %>
                                        <!--order by start date desc-->
                            <div style="order: <%= - workExp.startDate.getTime() / 100000 %>;">
                                <div class="section-h1">  
                                    <span><%- workExp.companyName + ' - ' + workExp.city.trim() + ", " + workExp.state %></span>
                                    <span><%- moment(workExp.startDate).format('MMMM YYYY') + " - " + (workExp.endDate ? moment(workExp.endDate).format('MMMM YYYY') : 'Current') %></span>
                                </div>  
                                <div class="section-h2">  
                                    <span><%- workExp.title %></span>
                                    <% if(moment(workExp.endDate ? workExp.endDate : moment()).diff(workExp.startDate, 'months') < 12) { %>
                                        <span id="timeInJob"><%-  moment(workExp.endDate ? workExp.endDate : moment()).diff(workExp.startDate, 'months') + ' months' %></span>
                                    <% } else { %>
                                        <span id="timeInJob"><%-  moment(workExp.endDate ? workExp.endDate : moment()).diff(workExp.startDate, 'years') + ' years' %></span>
                                    <% } %>
                                    <!--<span><%- workExp.city.trim() + ", " + workExp.state %></span>-->
                                </div>  
                                <ul class="responsibilities">
                                    <!--Loop through responsibilities-->
                                    <% workExp.responsibilities.forEach(function(responsibility) { %>
                                        <li>
                                            <%- responsibility %>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
		                <% } %>
                    <% }) %>
                </section>
		    <% } %>
            
		    <% if(resume.education && (!resume.education.hideOnPrint)) { %>
                <section style='order: <%= resume.education.order %>;'>
                    <div class="section-header">
                        <h3><%= resume.education.sectionTitle ? resume.education.sectionTitle : "Education"%></h3>
                        <hr>
                    </div>
                    <!--Loop through the education array-->
                    <% resume.education.details.forEach(function(edu) { %>
                        <% if(!edu.hideOnPrint) { %>
                                 <!--if graduated, order by end date DESC - if not, order by start date ASC-->
                            <div style="order: <%= edu.graduated ? -edu.endDate.getTime() / 100000 : edu.startDate.getTime() / 100000 %>;">
                                <div class="section-h1">  
                                    <% var cityState %>
                                    <% if(edu.city) { %>
                                        <% cityState = edu.city %>
                                    <% } %>
                                    <% if(edu.state) { %>
                                        <% cityState += ', ' + edu.state %>
                                    <% } %>
                                    <span><%= edu.instituteName + ' - ' + cityState %></span>
                                    <% cityState = '' %>
                                    <span><%- (edu.endDate ? moment(edu.endDate).format('MMMM YYYY') : moment(edu.startDate).format('MMMM YYYY') + " - " + 'Current') %></span>
                                </div>  
                                <div class="section-h2">  
                                    <span><%- edu.degree.trim() + ", " + edu.areaOfStudy %></span>
                                    <!--<% if(edu.graduated) { %>-->
                                    <!--    <span>Graduated</span> <!-- <i class="fas fa-graduation-cap"></i>-->
                                    <!--<% } %>-->
                                </div>  
                                <ul class="achievements">
                                    <!--Loop through achievements-->
                                    <% edu.achievements.forEach(function(achievement) { %>
                                        <li>
                                            <%- achievement %>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
		                <% } %>
                    <% }) %>
                </section>
		    <% } %>
            
		    <% if(resume.skills && (!resume.skills.hideOnPrint)) { %>
                <section style='order: <%= resume.skills.order %>;'>
                    <div class="section-header">
                        <h3><%= resume.skills.sectionTitle ? resume.skills.sectionTitle : "Skills"%></h3>
                        <hr>
                    </div>
                    <!--Loops through skills-->
                    <div class="skills">
                        <% resume.skills.details.forEach(function(skill){ %>
                            <% if(!skill.hideOnPrint) { %>
                                <ul>
                                    <li class="skill-category"><%- skill.category %></li>
                                    <ul>
                                        <% for(var i=0; i < skill.skill.length; i++){ %>
                                            <li class="skill">
                                                <!--clunky workaround, but display: flex overrides display: list-item-->
                                                <%- 'o ' + skill.skill[i].skillName.trim() %>
                                                
                                                <!--loop through the 5 star proficiency scale-->
                                                <% var proficiency = skill.skill[i].proficiency %>
                                                <span class="proficiency">
                                                <% for(var j=1; j<=5; j++){ %>
                                                    <% if(proficiency >= j) { %>
                                                        <i class="fas fa-circle fa-xs"></i>
                                                    <% } else { %>
                                                        <!--check for halves-->
                                                        <% if(proficiency >= j-.5) { %>
                                                            <i class="fas fa-adjust fa-xs"></i>
                                                        <% } else { %>
                                                            <i class="far fa-circle fa-xs"></i>
                                                        <% } %>
                                                    <% } %>
                                                <% } %>
                                                </span>
                                            </li>
                                        <% }; %>
                                    </ul>
                                </ul>
    		                <% } %>
                        <% }); %>
                    </div>
                </section>            
		    <% } %>
            
		    <% if(resume.interests && (!resume.interests.hideOnPrint)) { %>
                <section style='order: <%= resume.interests.order %>;'>
                    <div class="section-header">
                        <h3><%= resume.interests.sectionTitle ? resume.interests.sectionTitle : "Interests"%></h3>
                        <hr>
                    </div>
                    <ul class="interests">
                        <!--Loop through interests-->
                        <% resume.interests.details.forEach(function(interest){ %>
                            <% if(!interest.hideOnPrint) { %>
                                <li><%- interest.category %></li>
                                <ul>
                                    <% var interestStr = ""; %>
                                    <% for(var i=0; i < interest.interest.length; i++){ %>
                                        <% interestStr += interest.interest[i].interest.trim() + ", " %>
                                    <% }; %>
                                    <li><%- interestStr.slice(0, -2); %></li>
                                </ul>
    		                <% } %>
                        <% }); %>
                    </ul>
                </section>   
		    <% } %>
		    
		    <% if(resume.projects && (!resume.projects.hideOnPrint)) { %>
                <section style='order: <%= resume.projects.order %>;'>
                    <div class="section-header">
                        <h3></h3>
                        <h3><%= resume.projects.sectionTitle ? resume.projects.sectionTitle : "Side Projects & Relevant Experience"%></h3>
                        <hr>
                    </div>
                    <!--Loop through the projects array-->
                    <% resume.projects.details.forEach(function(project) { %>
                        <% if(!project.hideOnPrint) { %>
                                        <!--order by start date desc-->
                            <div style="order: <%= - project.startDate.getTime() / 100000 %>;">
                                <div class="section-h1">  
                                    <span><%- project.name %></span>
                                    <span><%- moment(project.startDate).format('MMMM YYYY') + " - " + (project.endDate ? moment(project.endDate).format('MMMM YYYY') : 'Current') %></span>
                                </div>  
                                <p>  
                                    <%- project.description %>
                                </p>  
                                <ul class="responsibilities">
                                    <!--Loop through details-->
                                    <% project.projectDetail.forEach(function(detail) { %>
                                        <li>
                                            <%- detail %>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
		                <% } %>
                    <% }) %>
                </section>   
		    
		    <% } %>
            
		    <% if(resume.quotes && (!resume.quotes.hideOnPrint)) { %>
                <section style='order: <%= resume.quotes.order %>;'>
                    <div class="section-header">
                        <h3><%= resume.quotes.sectionTitle ? resume.quotes.sectionTitle : "Quotes I Like"%></h3>
                        <hr>
                    </div>
                    <ul class="quotes">
                        <!--Loop through interests-->
                        <% resume.quotes.details.forEach(function(quote){ %>
                            <% if(!quote.hideOnPrint) { %>
                                <li><%- quote.quote  %> <span><%- '- ' + quote.by  %></span> </li>
    		                <% } %>
                        <% }); %>
                    </ul>
                </section>
		    <% } %>
            
            <% if(resume.other && (!resume.other.hideOnPrint)) { %>
                <section style='order: <%= resume.other.order %>;'>
                    <div class="section-header">
                        <!--loop through 'other' content -->
                        <% resume.other.details.forEach(function(otherSection) { %>
                            <% if(!otherSection.hideOnPrint) { %>
                                <h3><%- otherSection.title %></h3>
                                <hr>
                                <p><%- otherSection.summary %></p>
                                <ul class="other">
                                    <!--Loops through skills-->
                                    <% otherSection.bulletItems.forEach(function(item){ %>
                                        <li><%- item %></li>
                                    <% }); %>
                                </ul>
    		                <% } %>
    		                <br>
                        <% }) %>
                    </div>
                </section>
            <% } %>
        </main>
        
        <!--Footer Section-->
        <footer>
            <div id="tags"><%= resume.tags %></div>
            <!--<p>-->
            <!--    This resume was built using <a href="http://www.scrollwith.me">scrollwith.me</a> and Your's Truely, <a href="http://www.caryconklin.com/cary"> Cary Conklin</a>-->
            <!--</p>-->
        </footer>
    </body>
</html>